<ul>
    <li><a asp-controller="Home" asp-action="Index">HOME</a></li>
    <li>
        <a asp-controller="Room" asp-action="Index">ROOM</a>
        <ul class="submenu">
            <li><a asp-controller="Room" asp-action="RoomList">ROOM LIST</a></li>
            <li><a asp-controller="Room" asp-action="RoomDetails">ROOM DETAILS</a></li>
        </ul>
    </li>
    <li>
        <a asp-controller="Location" asp-action="Index">LOCATION</a>
    </li>
    <li><a asp-controller="Event" asp-action="Index">EVENT</a></li>
    <li><a asp-controller="Team" asp-action="Index">TEAM</a></li>
    <li><a asp-controller="Contact" asp-action="Index">CONTACT</a></li>
</ul>